html{
    background-color: grey;
}
body{
    background-color: blueviolet;
    width: 50%;
    font-size: 3rem;
}
.pai{
    background-color: violet;
    width: 50%;
    font-size: 1.5rem;
}
.filho{
    background-color: cyan;
    width: 50%;
    font-size: 0.5rem;
}