p1{
    display: inline;
    background-color: cyan;
    width: 20px;
    right: 20px;
}

p2{
    display: block;
    background-color: cyan;
    width: 20px;
    right: 20px;
}

span {
    display: inline-block; 
    background-color: cyan;
    width: 20px;
    right: 20px;
}